* {
    box-sizing: border-box;
}

body {
    /* margin: 0; */
    background: url('testbck.jpg') no-repeat;
    background-size: cover;
}

.app {
    display: flex;
    /* background: black; */
}

.main {
    flex: 0.8;
    /* border-left: white solid 1px; */
}

