.auth {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

.auth_content {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.auth_content input {
    margin: 10px;
    outline: none;
    border: none;
    background-color: rgb(69, 69, 69);
    padding: 10px;
    font-size: 15px;
    color: white;    
    /* width: 100%; */
}

.auth_content input:focus {
    background-color: rgb(90, 88, 88);
}

.auth_button {
    margin: 10px;
    border-radius: 2px;
    height: 40px;
    border: none;
    outline: none;
    background:  rgb(85, 85, 85);
    color: white;
}

.auth_button:hover {
    cursor: pointer;
    background:  rgb(95, 95, 95);
}

.auth_button:active {
    background:  rgb(100, 100, 100);
}

.auth_title {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}