body{
    background-color: rgba(255, 70, 70, 0.745);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      
}
.nav{
    padding: 1em;
}
.movies{
    border: 2px solid black;
    width: 100%;
    margin-right: 1em;
    margin-left: 1em; 
    background-color: rgba(250, 235, 215, 0.56);
}
.movie{
    display: flex;
    height: 7em;
    margin: 2em;
    justify-content: space-between;
    /* background-color: rgba(255, 212, 157, 0.56); */

}
.sidebar{
    border: 2px solid black;
    width: 29%;
    margin-right: inherit;
    background-color: white;

}
.containerr{
    display: flex;
    margin: 1em;
    /* background-color: wheat; */
}
.img{
    /* padding: 2em; */
    height: 7em;
}
  #head{
    font-size: large;
    margin: 26px;
}
 